/* work-sans font for goole fonts */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
  *{
    font-family: 'Work Sans', sans-serif;
  }
  /* header style  */
  header{
    background-color:rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-title{
    color: var(--dark-01, #131313);
    font-size: 2.7rem;
    font-weight: 700;
  }
  nav > ul{
    display: flex;
  }
  nav li {
    list-style: none;
    margin-right: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
  }
  nav li a {
    text-decoration: none;
    color: #424242;
  }
   /* banner-style */
   .banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
   }
   .banner-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
   }
   .banner-desc{
    color: #727272;
   }
   .primary-btn{
    padding: 20px;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: whitesmoke;
    margin: 50px;
   }